<!-- BEGIN_INCLUDE(cloudhub:deploy-application) -->
    <cloudhub:deploy-application file-ref="#[payload]" domain="my-domain" />
<!-- END_INCLUDE(cloudhub:deploy-application) -->
<!-- BEGIN_INCLUDE(cloudhub:start-application) -->
    <cloudhub:start-application domain="yourapp" />
<!-- END_INCLUDE(cloudhub:start-application) -->
<!-- BEGIN_INCLUDE(cloudhub:stop-application) -->
    <cloudhub:stop-application domain="yourapp" />
<!-- END_INCLUDE(cloudhub:stop-application) -->
<!-- BEGIN_INCLUDE(cloudhub:delete-application) -->
    <cloudhub:delete-application domain="yourapp" />
<!-- END_INCLUDE(cloudhub:delete-application) -->
<!-- BEGIN_INCLUDE(cloudhub:get-application) -->
    <cloudhub:get-application domain="yourapp" />
<!-- END_INCLUDE(cloudhub:get-application) -->
<!-- BEGIN_INCLUDE(cloudhub:update-application) -->
    <cloudhub:update-application />
<!-- END_INCLUDE(cloudhub:update-application) -->
<!-- BEGIN_INCLUDE(cloudhub:list-applications) -->
    <cloudhub:list-applications />
<!-- END_INCLUDE(cloudhub:list-applications) -->
<!-- BEGIN_INCLUDE(cloudhub:list-notifications) -->
    <cloudhub:list-notifications />
<!-- END_INCLUDE(cloudhub:list-notifications) -->
<!-- BEGIN_INCLUDE(cloudhub:dismiss-notification) -->
    <cloudhub:dismiss-notification href="someLink"/>
<!-- END_INCLUDE(cloudhub:dismiss-notification) -->
<!-- BEGIN_INCLUDE(cloudhub:create-notification) -->
    <cloudhub:create-notification message="Hello World" priority="INFO"/>
<!-- END_INCLUDE(cloudhub:create-notification) -->
<!-- BEGIN_INCLUDE(cloudhub:list-tenants) -->
    <cloudhub:list-tenants limit="25" domain="${app.domain}" />
<!-- END_INCLUDE(cloudhub:list-tenants) -->
<!-- BEGIN_INCLUDE(cloudhub:get-tenant) -->
    <cloudhub:get-tenant domain="${app.domain}" tenantId="acme" />
<!-- END_INCLUDE(cloudhub:get-tenant) -->
<!-- BEGIN_INCLUDE(cloudhub:create-tenant) -->
    <cloudhub:create-tenant domain="${app.domain}" />
<!-- END_INCLUDE(cloudhub:create-tenant) -->
<!-- BEGIN_INCLUDE(cloudhub:update-tenant) -->
    <cloudhub:update-tenant domain="${app.domain}" />
<!-- END_INCLUDE(cloudhub:update-tenant) -->
<!-- BEGIN_INCLUDE(cloudhub:delete-tenant) -->
    <cloudhub:delete-tenant domain="${app.domain}" tenantId="acme" />
<!-- END_INCLUDE(cloudhub:delete-tenant) -->
<!-- BEGIN_INCLUDE(cloudhub:delete-tenants) -->
    <cloudhub:delete-tenants domain="${app.domain}">
        <cloudhub:tenant-ids>
            <cloudhub:tenant-id>acme</cloudhub:tenant-id>
            <cloudhub:tenant-id>Mulesoft</cloudhub:tenant-id>
        </cloudhub:tenant-ids>
    </cloudhub:delete-tenants>
<!-- END_INCLUDE(cloudhub:delete-tenants) -->