<!-- BEGIN_INCLUDE(ion:deploy) -->
    <ion:deploy file="#[payload]" />
<!-- END_INCLUDE(ion:deploy) -->
<!-- BEGIN_INCLUDE(ion:undeploy) -->
    <ion:undeploy />
<!-- END_INCLUDE(ion:undeploy) -->
<!-- BEGIN_INCLUDE(ion:create-notification) -->
    <ion:create-notification />
<!-- END_INCLUDE(ion:create-notification) -->