<!-- BEGIN_INCLUDE(ion:deploy-application) -->
    <ion:deploy file="#[payload]" />
<!-- END_INCLUDE(ion:deploy-application) -->
<!-- BEGIN_INCLUDE(ion:start-application) -->
    <ion:start-application domain="yourapp" />
<!-- END_INCLUDE(ion:start-application) -->
<!-- BEGIN_INCLUDE(ion:stop-application) -->
    <ion:stop-application domain="yourapp" />
<!-- END_INCLUDE(ion:stop-application) -->
<!-- BEGIN_INCLUDE(ion:delete-application) -->
    <ion:delete-application domain="yourapp" />
<!-- END_INCLUDE(ion:delete-application) -->
<!-- BEGIN_INCLUDE(ion:get-application) -->
    <ion:get-application domain="yourapp" />
<!-- END_INCLUDE(ion:get-application) -->
<!-- BEGIN_INCLUDE(ion:update-application) -->
    <ion:update-application application="#[payload]" />
<!-- END_INCLUDE(ion:update-application) -->
<!-- BEGIN_INCLUDE(ion:list-applications) -->
    <ion:list-applications />
<!-- END_INCLUDE(ion:list-applications) -->
<!-- BEGIN_INCLUDE(ion:create-notification) -->
    <ion:create-notification domain="yourapp" message="Hello World" priority="INFO"/>
<!-- END_INCLUDE(ion:create-notification) -->