<!-- BEGIN_INCLUDE(ion:deploy-application) -->
    <ion:deploy file="#[payload]" />
<!-- END_INCLUDE(ion:deploy-application) -->
<!-- BEGIN_INCLUDE(ion:start-application) -->
    <ion:start-application />
<!-- END_INCLUDE(ion:start-application) -->
<!-- BEGIN_INCLUDE(ion:stop-application) -->
    <ion:stop-application />
<!-- END_INCLUDE(ion:stop-application) -->
<!-- BEGIN_INCLUDE(ion:delete-application) -->
    <ion:delete-application />
<!-- END_INCLUDE(ion:delete-application) -->
<!-- BEGIN_INCLUDE(ion:create-notification) -->
    <ion:create-notification />
<!-- END_INCLUDE(ion:create-notification) -->